 <!DOCTYPE html>
<html lang="no" ng-app="hotsApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="pics.js"></script>
		<title>HOTS Hero Picker</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	    <link rel="stylesheet" href="style.css" />
	</head>

	<body ng-controller="HeroController as ctrl">

		<div class="vertical-center-outer">
			<div class="vertical-center-middle">
				<div class="vertical-center-inner">

					<div class="pick-container">
						<img class="picked-hero" src="imgs/heroes/{{!randomHero ? 'random' : randomHero.id}}.png" /><br/>
						<span class="picked-hero-name">{{pickedHero.name}}</span><br />
						<div ng-show="pickedHero" class="external-links">
							<a href="http://www.heroesfire.com/hots/wiki/heroes/{{randomHero.id}}" target="blank">Heroes Fire</a><br />
							<a href="http://us.battle.net/heroes/en/heroes/{{randomHero.blizzId ? randomHero.blizzId : randomHero.id}}/" target="blank">Blizzard</a>
						</div>
						<button type="button" class="btn btn-primary pick-button" ng-click="ctrl.pickRandomHero()" ng-disabled="picking || !ctrl.availableHeroesCount">Pick random hero</button><br />
						<span ng-show="pickedHero" class="block-pick-another"><a href="#" ng-click="pickedHero.isBanned = true; ctrl.pickRandomHero()">Nope, block this one and pick another</a><br /></span>
						<span class="available-hero-count">Available hero pool: {{ctrl.availableHeroesCount}}</span>
					</div>

					<div style="text-align: center">    
						<div class="selector-container">
							<div class="selector-group" ng-repeat="grp in ctrl.selectors">
								<div class="selector {{grp.selectorCount == grp.activeCount ? 'selected' : 'unselected'}}" ng-click="ctrl.toggleAll(grp)">
									<span class="selector-name">All</span>
								</div>
								<div class="selector {{sel.isSelected ? 'selected' : 'unselected'}}" ng-repeat="sel in grp.selectors" ng-click="ctrl.select(grp, sel)">
									<span class="selector-name">{{sel.name}}</span>
								</div>
							</div>
						</div>
					</div>

					<div class="hero-container">
						<div class="hero {{(hero.isSelected && !hero.isBanned) ? 'selected' : 'unselected'}}" ng-show="hero.isSelected || !ctrl.hideUnselectedHeroes" ng-repeat="hero in ctrl.heroes" ng-click="hero.isBanned = !hero.isBanned; ctrl.refreshSelection();" title="{{hero.name}}">
							<span ng-show="hero.isBanned" class="banned-hero-cross"><i class="fa fa-ban"></i></span>
							<img class="hero-thumb" src="imgs/heroes/{{hero.id}}.png" />
							<span class="hero-name">{{hero.name}}</span>
						</div>
					</div>

					<div class="settings">
						<span class="settings-header">Settings</span>
						<span class="settings-item"><label><input type="checkbox" ng-model="ctrl.orBetweenGroups" ng-click="ctrl.refreshSelection()"> Use OR instead of AND between groups</label></span>
						<span class="settings-item"><label><input type="checkbox" ng-model="ctrl.hideUnselectedHeroes" ng-click="ctrl.refreshSelection()"> Hide unselected heroes</label></span>
					</div>

					<div class="footer">
						<span>Click the categories on the top of the screens to toggle groups of heroes on or off. Only heroes in the selected groups will be available for picking. Click a single hero to block/unblock it. Blocked heroes will never be picked.</span><br />
						<span><a href="https://www.reddit.com/r/heroesofthestorm/comments/402npc/i_made_a_simple_random_hero_picker_works_both_on/" target="blank">Feedback</a>&nbsp;&nbsp;&nbsp;<a href="http://mmremote.net/Donate/" target="blank">Donate (through my app's page)</a></span><br />
						<span style="font-size: 0.8em;">Created by Erlend Dahl, no affiliation with Blizzard. All the hero graphics are theirs!</span>
					</div>

				</div>
			</div>
		</div>

	</body>
</html> 