body{
	text-align: center;
}

.vertical-center-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.vertical-center-middle {
    display: table-cell;
    vertical-align: middle;
}

.vertical-center-inner {
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.pick-container{
	margin-bottom: 20px;
	text-align: center;
}

.picked-hero{
	border-radius: 100px;
	width: 150px;
}

.picked-hero-name{
	font-weight: bold;
	font-size: 2em;
}

.pick-button{
	margin-top: 10px;
	clear: both;
}

.block-pick-another{
	margin: 10px;
	display: block;
}

.available-hero-count{
	color: gray;
	font-style: italic;
	font-size: 0.8em;
}

.hero-container{
	text-align: center;
	overflow: hidden;
}

.hero{
	width: 80px;
	height: 100px;
	margin: 3px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}

.hero-thumb{
	width: 80px;
	border-radius: 100px;
}

.hero-name{
	text-overflow: ellipsis;
	font-family: "Arial";
	width: 80px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}

.selected{

}

.unselected{
	opacity: 0.4;
}

.selector-container{
	text-align: center;
	clear: both;
	overflow: hidden;
	display: inline-block;
}

.selector-group{
	margin: 10px;
	margin-bottom: 0px;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
	padding: 5px;
}

.selector{
	float: left;
	margin: 5px;
	float: left;
	cursor: pointer;
}

.banned-hero-cross{
	font-size: 5em !important;
	color: red;
	position: absolute;
	margin-left: 10px;
	margin-top: -10px;
}

.footer{
	text-align: center;
	margin-top: 20px;
	font-style: italic;
	color: gray;
	font-size: 0.8em;
}

.footer span{
	width: 50%;
}

.settings{
	margin-top: 10px;
}

.settings-header{
	font-weight: bold;
	margin-right: 10px;
}

.settings-item{
	margin-right: 15px;
}

.settings-item label{
    font-weight: unset;
}